venv/
*.pyc
__pycache__/
.pytest_cache/
.venv/
env/
build/
dist/
.git
*.egg-info
requirements-lock.txt
*.log
generated/venv
env
__pycache__
*.pyc
generated
examcards.db
.git
.github
.pytest_cache
.vscode